
.my-card{
    color: white;
    cursor: pointer;
    text-align: center;
    background: azure;
    // opacity: 0.6;
    padding: 10px;
    img{
        width: 100%
    }
    .info{
        text-align: center;
        p{
            color: black;
            margin-bottom: 0;
            text-transform: uppercase;
        
        }
    }
}

    .all-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(145px,1fr));
        grid-row-gap: 10px;
        grid-column-gap: 10px;

        p{
            font-family: 'Sarabun', sans-serif;
            font-weight: bold;
            color:$my-black !important;
        }
    }

    .league-link{

        &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
            color: whitesmoke;
        }
    }
.descriptions-p{
    color: $my-white;
    margin-bottom: 30px;
    font-family: $sarabun-font;
}
.span-5{
    color: #33c24a;
    font-weight: bold;
}
.span-leagues{
    // font-weight: bold;
    font-size: 17px;
    color: white;
    font-family: 'Barrio', cursive;
}


// Effect on hover
.league-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .league-link:hover, .league-link:focus, .league-link:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }