@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

.calendar{
    // background: azure ;
    font-family: 'Sarabun', sans-serif;
    // background: linear-gradient(45deg, #33c24a, transparent);
    border-radius: 10px;
    border: 1px solid white;
    input, rect, span ,svg{
        color: white !important;
        font-weight: bold;
    }
    .react-date-picker__wrapper{
        border: none;
    }

}

