


.my-card{
    color: white;
    cursor: pointer;
    text-align: center;
    background: azure;
    opacity: 0.6;
    padding: 10px;
    img{
        width: 100%
    }
    .info{
        text-align: center;
        p{
            color: black;
            margin-bottom: 0;
            text-transform: uppercase;
        
        }
    }
}

    .all-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(145px,1fr));
        grid-row-gap: 10px;
        grid-column-gap: 10px;

        p{
            font-family: 'Sarabun', sans-serif;
            font-weight: bold;
            color:$my-black !important;
        }
    }

    .league-link{

        &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
            color: whitesmoke;
        }
    }
.descriptions-p{
    color: $my-white;
    margin-bottom: 30px;
    font-family: $sarabun-font;
}
.span-5{
    color: #33c24a;
    font-weight: bold;
}
.span-leagues{
    // font-weight: bold;
    font-size: 17px;
    color: white;
    font-family: 'Barrio', cursive;
}