@mixin display-grid($repeat-column) {
    display: grid;
    grid-template-columns: repeat($repeat-column,1fr);
    align-items: center;
}

@mixin info-span($background-color) {
    background: $background-color;
    padding: 0 7px 0 7px;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

@mixin matchInfo($background) {
    font-size: 30px;
    font-weight: bold;
    background: $background;
    width: 55px;
    height: 55px;
    padding: 3px;
    color: black;
}