.td-other-competition{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    align-items: center;
    padding: 0 !important;
    line-height: 0.6;
}
.image-position{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    
    img{
        width: 100%;
        margin-left: 10px;
    }
}
.positionNum{
    color: $my-silver;
    font-family: $sarabun-font;
    font-size: 20px;
}
.won{
    @include info-span(#4caf50ad);
}
.draw{
    @include info-span(rgb(241, 212, 78));
    margin: 5px;
}
.lost{
    @include info-span(lightsalmon);
}

.points{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-column: 3/5;
    font-family: $sarabun-font;

   
    p:nth-child(2){
        margin-bottom: 0;
        font-weight: 600;
        font-size: 23px;
        box-shadow: $shadow-points;
        padding: 10px;
        color: $my-black;
        font-family: $sarabun-font;
    }
    p{
        margin-bottom: 0;
        color: $my-silver;
    }
  
}
.team-name{
    margin-left: 23px;
    padding: 7px 0 11px 0;
    p{
        font-weight: bold;
        font-family: $sarabun-font;
        color: $my-silver;
    }
}
