// @import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');


.tr-scorers:nth-child(1){
    background: url('../img/cover-soccer2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
     svg{
         display: none;
     }
    .goal-number{
        background: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 1.1;
        text-align: center;
        margin: auto;
        color: black;
        font-size: 35px;
        font-weight: 100;
    }
    p{
        // font-size: 35px;
        margin-bottom: 0;
        // color: lightgreen;
        // font-family: 'Russo One', sans-serif;
        // text-shadow: #f8f9fa 1px 0 10px;
    }
    .td-scorers:nth-child(1){
        padding: 20px;
        border: none;
        grid-template-columns: none;
        text-align: center;
        margin: auto;
        
    }

    .scorer-name{
        font-size: 40px;
        color: lightgreen;
        text-transform: capitalize;
    }
    .scorer-team{
        font-size: 30px;
        color: white;
        text-shadow: #f8f9fa 1px 0 10px;
        text-decoration: underline;
    }
    .soccer-country{
        display: none;
    }
}

.td-scorers{
    display: grid;
    grid-template-columns: 10fr 2fr 4fr;
    align-items: center;
    padding: 5px 10px 5px 10px;
    line-height: 1.1;
}

.goal-number{
    font-family: 'Concert One', cursive;
    font-size: 20px;
    margin-bottom: 0;
    background: linear-gradient(45deg, #91fc94, transparent);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1.4;
    text-align: center;
    margin: auto;
}

p{
    font-family: $sarabun-font;
}

.soccer-country{
    text-align: end;
    color: $silver-light;
}
.scorer-name{
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $my-black;
    font-size: 16px;
}
.scorer-team{
    margin-bottom: 0;
    color: $my-silver
}

.ball-icon{
    color: black;
    width: 20px;

}
.scorers-standings{
    margin-top: 68px
}

.scorers-icon{
    margin-bottom: 10px;
    // display: grid;
    text-align: center;
    display: flex;
    align-items: center;
    color: $my-white;
    img{
        margin: auto;
    }
    p{
        font-size: 31px;
        margin: auto;
        color: $my-white;
        font-family: 'Patrick Hand', cursive;
        margin-bottom: 0;
    }
    span{
        font-weight: bold;
        letter-spacing: 2px;
        // text-decoration: underline;
        color: $my-white;
        border: 1px solid white;
        padding: 0 5px 0 5px;
        font-family:$sarabun-font
    }
    .competitionName{
        border: none;
        font-family: 'Patrick Hand', cursive;
        
    }
}