// @import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');


.tr-scorers:nth-child(1){
    background: url('../img/cover-soccer.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
     svg{
         display: none;
     }
    .goal-number{
        background: rgb(255, 255, 255);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        line-height: 1.9;
        text-align: center;
        margin: auto;
    }
    p{
        font-size: 35px;
        margin-bottom: 0;
        color: black;
        font-family: 'Russo One', sans-serif;
        text-shadow: #f8f9fa 1px 0 10px;
    }
    .td-scorers:nth-child(1){
        padding: 0;
        border: none;
        grid-template-columns: none;
        text-align: center;
        margin: auto;
    }
    .soccer-country{
        text-align: center;
    }
}

.td-scorers{
    display: grid;
    grid-template-columns: 10fr 2fr 4fr;
    align-items: center;
    padding: 5px 10px 5px 10px;
    line-height: 1.1;
}

.goal-number{
    font-family: 'Concert One', cursive;
    font-size: 20px;
    margin-bottom: 0;
    background: linear-gradient(45deg, #91fc94, transparent);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1.4;
    text-align: center;
    margin: auto;
}

p{
    font-family: $sarabun-font;
}

.soccer-country{
    text-align: end;
    color: $silver-light;
}
.scorer-name{
    font-family: 'Jua', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $my-black;
    font-size: 16px;
}
.scorer-team{
    margin-bottom: 0;
    color: $my-silver
}

.ball-icon{
    color: black;
    width: 20px;

}