@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');
$sarabun-font:'Sarabun', sans-serif;
$azure-background: azure;
$my-black: #3f3e3e;
$my-silver:#5a5a5a;
$silver-light:#9a9a9a;
$my-white:#dbdbdb;
$shadow-points:1px 1px 1px 1px silver;