*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
}

.App{
    background-image: url('../img/cover1.jpg');
    background-size: cover;
    height: 140vh;
    width: 100%;
    background-position: center;
    min-height: 100vh;
}

@import './variables';
@import './mixins';
@import './logo';
@import './leaguesLinks';
@import './matchesResults';
@import './container';
@import './calendar';
@import './championsLeague';
@import './otherCompetitions';
@import './scorersStandings';
@import '../components/myCarousel/MyCarousel';
@import '../components/bestPlayers/bestPlayers';
@import '../components/footer/footer';