@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.App {
  background-image: url("../img/cover1.jpg");
  background-size: cover;
  height: 140vh;
  width: 100%;
  background-position: center;
  min-height: 100vh;
}

.logo-div {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.logo-div p {
  color: #dbdbdb;
  font-family: 'Kalam', cursive;
}

.logo-div h1 {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 60px;
  letter-spacing: 4px;
}

.logo-div h1 span {
  color: #33c24a;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 83px;
}

.logo-div .logo-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  text-decoration: none;
  list-style: none;
}

.logo-link:focus, .logo-link:hover, .logo-link:visited, .logo-link:link, .logo-link:active {
  text-decoration: none;
}

.my-card {
  color: white;
  cursor: pointer;
  text-align: center;
  background: azure;
  opacity: 0.6;
  padding: 10px;
}

.my-card img {
  width: 100%;
}

.my-card .info {
  text-align: center;
}

.my-card .info p {
  color: black;
  margin-bottom: 0;
  text-transform: uppercase;
}

.all-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(145px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.all-cards p {
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  color: #3f3e3e !important;
}

.league-link:focus, .league-link:hover, .league-link:visited, .league-link:link, .league-link:active {
  text-decoration: none;
  color: whitesmoke;
}

.descriptions-p {
  color: #dbdbdb;
  margin-bottom: 30px;
  font-family: "Sarabun", sans-serif;
}

.span-5 {
  color: #33c24a;
  font-weight: bold;
}

.span-leagues {
  font-size: 17px;
  color: white;
  font-family: 'Barrio', cursive;
}

.table {
  opacity: 0.9;
}

.table-component {
  background: azure;
}

.td-date {
  vertical-align: middle !important;
  text-align: center;
  padding: 0 0 0 10px !important;
}

.td-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  font-family: 'Sarabun', sans-serif;
}

.flag-homeTeam {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.scores {
  text-align: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  font-weight: bold;
}

.half-time-res {
  font-size: 13px;
  font-weight: bold;
  color: #717070;
}

.icon-country {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: center;
}

.home-team-name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

.away-team-name {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.pagination a {
  background: azure;
  color: black;
  opacity: 0.9;
}

.halfTime-status {
  text-align: center;
}

.halfTime-status span {
  font-size: 10px;
  font-family: 'Sarabun', sans-serif;
}

.schedule-p {
  color: #dbdbdb;
  font-family: "Sarabun", sans-serif;
}

.container-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(415px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  width: 90%;
  margin: auto;
  grid-column-gap: 135px;
}

.calendar {
  background: azure;
  font-family: 'Sarabun', sans-serif;
}

/******** Champions League Start *********/
.champion-league-content {
  width: 90%;
  margin: auto;
  min-height: 120vh;
}

.champions-league {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.group-name {
  color: silver;
  text-align: center;
  font-family: 'Concert One', cursive;
}

.table {
  margin-bottom: 0 !important;
}

.cl-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-imgAndPostion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-imgAndPostion h4 {
  margin-bottom: 0;
  font-size: 20px;
  font-family: "Sarabun", sans-serif;
  color: #5a5a5a;
  margin-right: 10px;
}

.cl-imgAndPostion img {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.cl-name {
  margin-left: 10px;
  font-family: "Sarabun", sans-serif;
}

.cl-name p {
  margin-bottom: 0 !important;
  color: #5a5a5a;
  font-weight: bold;
}

.cl-name .cl-won {
  background: #4caf50ad;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.cl-name .cl-draw {
  background: #f1d44e;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}

.cl-name .cl-lost {
  background: lightsalmon;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.spans {
  margin-top: 10px;
}

.cl-points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-points p:nth-child(2) {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 23px;
  -webkit-box-shadow: 1px 1px 1px 1px silver;
          box-shadow: 1px 1px 1px 1px silver;
  color: #3f3e3e;
  font-family: "Sarabun", sans-serif;
}

.cl-points p:nth-child(1) {
  margin-bottom: 0 !important;
  color: #5a5a5a;
  font-family: "Sarabun", sans-serif;
}

/******** Champions League Start *********/
.champion-league-divs {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 100px;
}

.css-t2rmvs {
  text-align: center;
}

.other-leagues-content {
  width: 80%;
  margin: auto;
  min-height: 116vh;
}

.td-other-competition {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 11fr 3fr 2fr;
      grid-template-columns: 3fr 11fr 3fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  line-height: 0.6;
}

.image-position {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.image-position img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.positionNum {
  color: #5a5a5a;
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
}

.won {
  background: #4caf50ad;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.draw {
  background: #f1d44e;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}

.lost {
  background: lightsalmon;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  font-family: "Sarabun", sans-serif;
}

.points p {
  margin-bottom: 0;
  color: #5a5a5a;
}

.points p:nth-child(2) {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 23px;
  -webkit-box-shadow: 1px 1px 1px 1px silver;
          box-shadow: 1px 1px 1px 1px silver;
  padding: 10px;
  color: #3f3e3e;
  font-family: "Sarabun", sans-serif;
}

.points p:nth-child(1) {
  background: linear-gradient(45deg, #ffe3a5, transparent);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
}

.team-name {
  margin-left: 23px;
  padding: 7px 0 11px 0;
}

.team-name p {
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  color: #5a5a5a;
}

.css-rq17bv {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: auto;
}

.other-leagues-divs {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 100px;
}

.tr-scorers:nth-child(1) {
  background: url("../img/cover-soccer.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.tr-scorers:nth-child(1) svg {
  display: none;
}

.tr-scorers:nth-child(1) .goal-number {
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 1.9;
  text-align: center;
  margin: auto;
}

.tr-scorers:nth-child(1) p {
  font-size: 35px;
  margin-bottom: 0;
  color: black;
  font-family: 'Russo One', sans-serif;
  text-shadow: #f8f9fa 1px 0 10px;
}

.tr-scorers:nth-child(1) .td-scorers:nth-child(1) {
  padding: 0;
  border: none;
  -ms-grid-columns: none;
      grid-template-columns: none;
  text-align: center;
  margin: auto;
}

.tr-scorers:nth-child(1) .soccer-country {
  text-align: center;
}

.td-scorers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 2fr 4fr;
      grid-template-columns: 10fr 2fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px 5px 10px;
  line-height: 1.1;
}

.goal-number {
  font-family: 'Concert One', cursive;
  font-size: 20px;
  margin-bottom: 0;
  background: linear-gradient(45deg, #91fc94, transparent);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 1.4;
  text-align: center;
  margin: auto;
}

p {
  font-family: "Sarabun", sans-serif;
}

.soccer-country {
  text-align: end;
  color: #9a9a9a;
}

.scorer-name {
  font-family: 'Jua', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #3f3e3e;
  font-size: 16px;
}

.scorer-team {
  margin-bottom: 0;
  color: #5a5a5a;
}

.ball-icon {
  color: black;
  width: 20px;
}

.my-carousel {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.my-carousel h3 {
  color: #dbdbdb;
  font-family: "Sarabun", sans-serif;
  font-size: 30px;
  text-align: start;
  font-weight: 400;
}

.carousel-div {
  background: linear-gradient(138deg, #d8d8d8, transparent);
  opacity: 0.8;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}

.carousel-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.8fr 1fr;
      grid-template-rows: 1.8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-image-spans img {
  width: 100px;
  height: 100px;
}

.carousel-season-image img {
  width: 50px;
  height: 50px;
}

.carousel-season-image p {
  font-family: "Sarabun", sans-serif !important;
  font-weight: bold;
}

.carousel-won {
  background: lightgreen;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.carousel-draw {
  background: #dada2f;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.carousel-lost {
  background: #f34b4b;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.custom-dot-list-style li {
  bottom: -20px;
}

.react-multi-carousel-track {
  margin-bottom: 20px !important;
}

.w-d-l {
  margin-top: 10px;
}

svg {
  color: #33c24a;
  font-size: 32px;
  margin-left: 10px;
}

.best-players-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  text-align: center;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ronaldo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.ronaldo img {
  width: 350px;
  -webkit-filter: drop-shadow(5px 9px 10px #222);
          filter: drop-shadow(5px 9px 10px #222);
}

.messi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.messi img {
  width: 350px;
  -webkit-filter: drop-shadow(5px 9px 10px #222);
          filter: drop-shadow(5px 9px 10px #222);
}

.golden-ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.golden-ball P {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.golden-ball span {
  font-size: 22px;
}

.messi-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.messi-info P {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.messi-info span {
  font-size: 22px;
}

.text-players {
  text-align: center;
  font-size: 23px;
  color: #5a5a5a;
  font-family: 'Kalam', cursive;
}

.text-players span {
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  color: #3f3e3e;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Sarabun", sans-serif;
}

.footer {
  background: #270c39;
  padding: 70px;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-footer h1 {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 30px;
}

.logo-footer span {
  color: #33c24a;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 43px;
}

.logo-footer img {
  width: 40px;
}

.links-footer {
  display: -ms-grid;
  display: grid;
}

.links-footer .link-footer:focus, .links-footer .link-footer:hover, .links-footer .link-footer:visited, .links-footer .link-footer:link, .links-footer .link-footer:active {
  text-decoration: none;
  color: whitesmoke;
}

.adress-footer {
  display: -ms-grid;
  display: grid;
}

.adress-footer span {
  color: white;
}

.adress-footer p {
  color: white;
}

.icon-footer {
  margin-left: 0;
}

.input-footer {
  display: -ms-grid;
  display: grid;
  color: white;
}

.input-footer button {
  font-family: "Sarabun", sans-serif;
  width: 110px;
  color: white;
  border-radius: 11px;
  background: transparent;
  border: 1px solid white;
}

.input-footer button:hover {
  background: #33c24a;
  font-weight: bold;
}

.input-footer input {
  width: 260px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
     border-image: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
     border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.icon-two {
  margin: 17px;
}
/*# sourceMappingURL=style.css.map */