@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.App {
  background-image: url("../img/cover1.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
}

.logo-div {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.logo-div p {
  color: #dbdbdb;
  font-family: 'Kalam', cursive;
}

.logo-div h1 {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 60px;
  letter-spacing: 4px;
}

.logo-div h1 span {
  color: #33c24a;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 83px;
}

.logo-div .logo-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  text-decoration: none;
  list-style: none;
}

.logo-link:focus, .logo-link:hover, .logo-link:visited, .logo-link:link, .logo-link:active {
  text-decoration: none;
}

.my-card {
  color: white;
  cursor: pointer;
  text-align: center;
  background: azure;
  padding: 10px;
}

.my-card img {
  width: 100%;
}

.my-card .info {
  text-align: center;
}

.my-card .info p {
  color: black;
  margin-bottom: 0;
  text-transform: uppercase;
}

.all-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(145px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.all-cards p {
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  color: #3f3e3e !important;
}

.league-link:focus, .league-link:hover, .league-link:visited, .league-link:link, .league-link:active {
  text-decoration: none;
  color: whitesmoke;
}

.descriptions-p {
  color: #dbdbdb;
  margin-bottom: 30px;
  font-family: "Sarabun", sans-serif;
}

.span-5 {
  color: #33c24a;
  font-weight: bold;
}

.span-leagues {
  font-size: 17px;
  color: white;
  font-family: 'Barrio', cursive;
}

.league-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.league-link:hover, .league-link:focus, .league-link:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.table {
  opacity: 0.9;
}

.table-component {
  background: azure;
}

.td-date {
  vertical-align: middle !important;
  text-align: center;
  padding: 0 0 0 10px !important;
}

.td-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  font-family: 'Sarabun', sans-serif;
}

.flag-homeTeam {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.calendar-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar-div span {
  color: lightgreen;
}

.scores {
  text-align: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  font-weight: bold;
}

.scores .homeScore {
  font-size: 18px;
}

.scores .awayScore {
  font-size: 18px;
}

.half-time-res {
  font-size: 13px;
  font-weight: bold;
  color: #717070;
}

.icon-country {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: center;
}

.home-team-name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

.away-team-name {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.pagination a {
  background: azure;
  color: black;
  opacity: 0.9;
}

.halfTime-status {
  text-align: center;
}

.halfTime-status span {
  font-size: 10px;
  font-family: 'Sarabun', sans-serif;
}

.schedule-p {
  color: #dbdbdb;
  font-family: "Sarabun", sans-serif;
}

.no-matches {
  color: white;
  background: linear-gradient(45deg, #9e3640, transparent);
  border-radius: 12px;
}

.match-link:focus, .match-link:hover, .match-link:visited, .match-link:link, .match-link:active {
  text-decoration: none;
  color: #3f3e3e;
}

.container-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(415px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  width: 90%;
  margin: auto;
  grid-column-gap: 135px;
  grid-row-gap: 80px;
}

.calendar {
  font-family: 'Sarabun', sans-serif;
  border-radius: 10px;
  border: 1px solid white;
}

.calendar input, .calendar rect, .calendar span, .calendar svg {
  color: white !important;
  font-weight: bold;
}

.calendar .react-date-picker__wrapper {
  border: none;
}

/******** Champions League Start *********/
.champion-league-content {
  width: 90%;
  margin: auto;
  min-height: 120vh;
}

.champions-league {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.group-name {
  color: #dbdbdb;
  text-align: center;
  font-family: 'Concert One', cursive;
  text-decoration: underline;
}

.table {
  margin-bottom: 0 !important;
}

.cl-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-imgAndPostion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-imgAndPostion h4 {
  margin-bottom: 0;
  font-size: 20px;
  font-family: "Sarabun", sans-serif;
  color: #5a5a5a;
  margin-right: 10px;
}

.cl-imgAndPostion img {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.cl-name {
  margin-left: 10px;
  font-family: "Sarabun", sans-serif;
}

.cl-name p {
  margin-bottom: 0 !important;
  color: #5a5a5a;
  font-weight: bold;
}

.cl-name .cl-won {
  background: #4caf50ad;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.cl-name .cl-draw {
  background: #f1d44e;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  color: black;
}

.cl-name .cl-lost {
  background: lightsalmon;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.spans {
  margin-top: 10px;
}

.cl-points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-points p:nth-child(2) {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 23px;
  -webkit-box-shadow: 1px 1px 1px 1px silver;
          box-shadow: 1px 1px 1px 1px silver;
  color: #3f3e3e;
  font-family: "Sarabun", sans-serif;
  text-align: center;
}

.cl-points p:nth-child(1) {
  margin-bottom: 0 !important;
  color: #5a5a5a;
  font-family: "Sarabun", sans-serif;
}

/******** Champions League Start *********/
.champion-league-divs {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 100px;
}

.css-t2rmvs {
  text-align: center;
}

.championsLeague-icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.championsLeague-icon p {
  color: #dbdbdb;
  margin-bottom: 0;
  font-size: 31px;
}

.championsLeague-icon img {
  margin: auto;
  -webkit-filter: drop-shadow(1px 1px 5px white);
          filter: drop-shadow(1px 1px 5px white);
  margin-bottom: 13px;
}

.championsLeague-icon span {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  letter-spacing: 4px;
  color: #dbdbdb;
  border: 1px solid white;
  padding: 0 5px 0 5px;
  font-size: 31px;
}

.other-teams {
  padding-bottom: 45px;
}

.other-leagues-content {
  width: 80%;
  margin: auto;
  min-height: 116vh;
}

.td-other-competition {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 11fr 3fr 2fr;
      grid-template-columns: 3fr 11fr 3fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  line-height: 0.6;
}

.image-position {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.image-position img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.positionNum {
  color: #5a5a5a;
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
}

.won {
  background: #4caf50ad;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.draw {
  background: #f1d44e;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  color: black;
}

.lost {
  background: lightsalmon;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  font-family: "Sarabun", sans-serif;
}

.points p {
  margin-bottom: 0;
  color: #5a5a5a;
}

.points p:nth-child(2) {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 23px;
  -webkit-box-shadow: 1px 1px 1px 1px silver;
          box-shadow: 1px 1px 1px 1px silver;
  padding: 10px;
  color: #3f3e3e;
  font-family: "Sarabun", sans-serif;
}

.points p:nth-child(1) {
  background: linear-gradient(45deg, #ffe3a5, transparent);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
}

.team-name {
  margin-left: 23px;
  padding: 7px 0 11px 0;
}

.team-name p {
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  color: #5a5a5a;
}

.other-leagues-divs {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 100px;
}

.leagueName-icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.leagueName-icon p {
  color: #dbdbdb;
  margin-bottom: 0;
  font-size: 31px;
}

.leagueName-icon img {
  margin: auto;
  -webkit-filter: drop-shadow(1px 1px 5px white);
          filter: drop-shadow(1px 1px 5px white);
  margin-bottom: 13px;
}

.leagueName-icon span {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  letter-spacing: 4px;
  color: #dbdbdb;
  border: 1px solid white;
  padding: 0 5px 0 5px;
}

.tr-scorers:nth-child(1) {
  background: url("../img/cover-soccer2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.tr-scorers:nth-child(1) svg {
  display: none;
}

.tr-scorers:nth-child(1) .goal-number {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 1.1;
  text-align: center;
  margin: auto;
  color: black;
  font-size: 35px;
  font-weight: 100;
}

.tr-scorers:nth-child(1) p {
  margin-bottom: 0;
}

.tr-scorers:nth-child(1) .td-scorers:nth-child(1) {
  padding: 20px;
  border: none;
  -ms-grid-columns: none;
      grid-template-columns: none;
  text-align: center;
  margin: auto;
}

.tr-scorers:nth-child(1) .scorer-name {
  font-size: 40px;
  color: lightgreen;
  text-transform: capitalize;
}

.tr-scorers:nth-child(1) .scorer-team {
  font-size: 30px;
  color: white;
  text-shadow: #f8f9fa 1px 0 10px;
  text-decoration: underline;
}

.tr-scorers:nth-child(1) .soccer-country {
  display: none;
}

.td-scorers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 2fr 4fr;
      grid-template-columns: 10fr 2fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px 5px 10px;
  line-height: 1.1;
}

.goal-number {
  font-family: 'Concert One', cursive;
  font-size: 20px;
  margin-bottom: 0;
  background: linear-gradient(45deg, #91fc94, transparent);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 1.4;
  text-align: center;
  margin: auto;
}

p {
  font-family: "Sarabun", sans-serif;
}

.soccer-country {
  text-align: end;
  color: #9a9a9a;
}

.scorer-name {
  font-family: 'Jua', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #3f3e3e;
  font-size: 16px;
}

.scorer-team {
  margin-bottom: 0;
  color: #5a5a5a;
}

.ball-icon {
  color: black;
  width: 20px;
}

.scorers-standings {
  margin-top: 68px;
}

.scorers-icon {
  margin-bottom: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dbdbdb;
}

.scorers-icon img {
  margin: auto;
}

.scorers-icon p {
  font-size: 31px;
  margin: auto;
  color: #dbdbdb;
  font-family: 'Patrick Hand', cursive;
  margin-bottom: 0;
}

.scorers-icon span {
  font-weight: bold;
  letter-spacing: 2px;
  color: #dbdbdb;
  border: 1px solid white;
  padding: 0 5px 0 5px;
  font-family: "Sarabun", sans-serif;
}

.scorers-icon .competitionName {
  border: none;
  font-family: 'Patrick Hand', cursive;
}

.my-carousel {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.my-carousel h3 {
  font-family: "Sarabun", sans-serif;
  font-size: 30px;
  text-align: start;
  font-weight: bold;
  color: #dbdbdb;
  padding-left: 15px;
  border-radius: 10px;
}

.my-carousel .topLeagues-span {
  color: lightgreen;
}

.carousel-div {
  background: aliceblue;
  opacity: 0.8;
  border-radius: 20px;
  margin: 10px;
}

.carousel-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.8fr 1fr;
      grid-template-rows: 1.8fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-image-spans img {
  width: 100px;
  height: 100px;
}

.carousel-season-image img {
  width: 50px;
  height: 50px;
}

.carousel-season-image p {
  font-family: "Sarabun", sans-serif !important;
  font-weight: bold;
}

.carousel-won {
  background: lightgreen;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.carousel-draw {
  background: #dada2f;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 7px;
}

.carousel-lost {
  background: #f34b4b;
  padding: 0 7px 0 7px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.custom-dot-list-style li {
  bottom: -20px;
}

.react-multi-carousel-track {
  margin-bottom: 20px !important;
}

.w-d-l {
  margin-top: 10px;
}

svg {
  color: #33c24a;
  font-size: 32px;
  margin-left: 10px;
}

.best-players {
  background: whitesmoke;
  margin-top: 100px;
  padding: 60px 0 80px 0;
}

.best-players-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ronaldo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.ronaldo img {
  width: 350px;
  -webkit-filter: drop-shadow(5px 9px 10px #222);
          filter: drop-shadow(5px 9px 10px #222);
}

.messi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.messi img {
  width: 350px;
  -webkit-filter: drop-shadow(5px 9px 10px #222);
          filter: drop-shadow(5px 9px 10px #222);
}

.ronaldo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.ronaldo-info P {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.ronaldo-info span {
  font-size: 22px;
}

.messi-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.messi-info P {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.messi-info span {
  font-size: 22px;
}

.text-players {
  text-align: center;
  font-size: 23px;
  color: #5a5a5a;
  font-family: 'Kalam', cursive;
  margin-bottom: 0;
}

.text-players span {
  font-weight: bold;
  font-family: "Sarabun", sans-serif;
  color: #3f3e3e;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-family: "Sarabun", sans-serif;
  grid-row-gap: 60px;
  font-family: "Sarabun", sans-serif;
  padding: 70px;
}

.footer-content p {
  color: #dbdbdb !important;
}

.footer {
  background: #270c39;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-footer h1 {
  color: white;
  font-family: 'Barrio', cursive;
  font-size: 30px;
}

.logo-footer span {
  color: #33c24a;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 43px;
}

.logo-footer img {
  width: 40px;
}

.links-footer {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.links-footer .link-footer {
  color: #dbdbdb !important;
  font-weight: bold;
}

.links-footer .link-footer:focus, .links-footer .link-footer:hover, .links-footer .link-footer:visited, .links-footer .link-footer:link, .links-footer .link-footer:active {
  text-decoration: none;
  color: whitesmoke;
}

.adress-footer {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.adress-footer span {
  color: #dbdbdb;
  font-weight: bold;
}

.adress-footer p {
  color: whitesmoke !important;
  font-weight: bold;
  font-size: 18px;
}

.icon-footer {
  margin-left: 0;
}

.input-footer {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

.input-footer p {
  color: white !important;
  font-weight: bold;
  font-size: 18px;
}

.input-footer button {
  font-family: "Sarabun", sans-serif;
  width: 110px;
  height: 30px;
  color: #dbdbdb;
  border-radius: 11px;
  background: transparent;
  border: 1px solid white;
  font-weight: bold;
}

.input-footer button:hover {
  background: #33c24a;
  font-weight: bold;
}

.input-footer input {
  width: 260px;
}

.link-football-data:hover {
  text-decoration: none;
}

.footer-end {
  background: #3c1b52de;
  padding: 10px;
}

.footer-end p {
  margin-bottom: 0;
  text-align: center;
  color: #dbdbdb;
}

.icon-two {
  margin: 17px;
}

.football-data {
  font-weight: bold;
  font-size: 20px;
  color: darkkhaki;
}

.footer-section-one {
  text-align: center;
}

.footer-section-one p {
  font-weight: bold;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
     border-image: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
     border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.head2head-content {
  min-height: 100vh;
  text-align: center;
  height: 100vh;
  margin-bottom: 270px;
  color: white;
}

.test {
  position: relative;
}

.test img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.test .home {
  position: absolute;
  left: 448px;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.1;
  font-size: 80px;
  width: 85px;
  height: 85px;
  font-family: 'Russo One', sans-serif;
  color: #dbdbdb;
}

.test .away {
  position: absolute;
  right: 448px;
  top: 80px;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.1;
  font-size: 80px;
  width: 85px;
  height: 85px;
  font-family: 'Russo One', sans-serif;
  color: #dbdbdb;
}

.test .match-status {
  position: absolute;
  left: 703px;
  bottom: 26px;
  font-size: 22px;
  border-radius: 20px;
  padding: 0 15px 0 15px;
  background: #b14343;
}

.teams-name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 50%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams-name p {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
  color: #dbdbdb;
  background: linear-gradient(45deg, #000000, transparent);
  border-radius: 30px;
}

.teams-name p:nth-child(1) {
  border: 1px solid white;
  margin-bottom: 0;
}

.teams-name p:nth-child(2) {
  border: 1px solid white;
  margin-bottom: 0;
  margin-left: 5px;
}

.head2head {
  background: black;
  width: 80%;
  margin: auto;
  border-radius: 24px;
  opacity: 0.8;
  padding: 15px;
}

.head2head .stadium-name {
  font-weight: bold;
}

.head2head .halfTime {
  font-size: 25px;
  text-transform: uppercase;
}

.head2head .halfTime:nth-child(2) {
  font-weight: bold;
  font-size: 29px;
  border: 1px solid white;
  padding: 4px;
  border-color: lightgreen;
}

.head2head .halfTime:nth-child(4) {
  font-weight: bold;
  font-size: 29px;
  border: 1px solid white;
  padding: 4px;
  border-color: lightgreen;
}

.head2head h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.head2head .wins {
  font-size: 30px;
  font-weight: bold;
  background: lightgreen;
  width: 55px;
  height: 55px;
  padding: 3px;
  color: black;
}

.head2head .draws {
  font-size: 30px;
  font-weight: bold;
  background: #ffc107;
  width: 55px;
  height: 55px;
  padding: 3px;
  color: black;
}

.head2head .losses {
  font-size: 30px;
  font-weight: bold;
  background: #dc3545;
  width: 55px;
  height: 55px;
  padding: 3px;
  color: black;
}

.head2head .numOfMatches {
  padding-bottom: 30px;
  padding-top: 30px;
}

.head2head .numOfMatches span {
  font-size: 30px;
  background: #12a1f9;
  font-size: 30px;
  font-weight: bold;
  width: 55px;
  height: 55px;
  padding: 3px;
  color: black;
}

.head2head .total-goals {
  padding-top: 40px;
}

.head2head .total-goals span {
  font-size: 30px;
  background: #12a1f9;
  font-size: 30px;
  font-weight: bold;
  width: 55px;
  height: 55px;
  padding: 3px;
  color: black;
}

.head2head .referees {
  display: -ms-grid;
  display: grid;
  padding-top: 30px;
}

.head2head .referees span {
  font-weight: bold;
}

@media only screen and (max-width: 1350px) {
  .home {
    left: 248px !important;
    top: 50px !important;
  }
  .away {
    right: 248px !important;
    top: 50px !important;
  }
  .match-status {
    left: 483px !important;
  }
}

@media only screen and (max-width: 845px) {
  .home {
    left: 220px !important;
    top: 20px !important;
  }
  .away {
    right: 220px !important;
    top: 20px !important;
  }
  .test {
    width: 100% !important;
  }
  .match-status {
    bottom: 4px !important;
    left: 352px !important;
  }
}

@media only screen and (max-width: 600px) {
  /******** Log Section Start *******/
  .logo-content h1 {
    font-size: 36px;
    letter-spacing: normal;
  }
  .logo-content span {
    font-size: 53px !important;
  }
  .logo-content img {
    width: 36px;
  }
  .logo-div {
    margin-bottom: 37px;
  }
  .logo-div p {
    font-size: 10px;
  }
  .descriptions-p {
    text-align: center;
    font-size: 13px;
  }
  /******** Log Section Start *******/
  .container-content {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 97%;
  }
  .my-carousel {
    width: 100%;
  }
  .my-carousel svg {
    display: none;
  }
  .my-carousel h3 {
    font-size: 24px;
    background: none;
    color: #dbdbdb !important;
  }
  .my-carousel .carousel-title {
    margin-bottom: 30px;
  }
  .my-carousel .carousel-title h3 {
    text-align: center;
  }
  .calendar-div {
    display: -ms-grid !important;
    display: grid !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
  }
  .calendar-div .calendar {
    background: limegreen;
    padding: 0;
    border: none;
  }
  .calendar-div .calendar input, .calendar-div .calendar rect, .calendar-div .calendar span, .calendar-div .calendar svg {
    color: white !important;
    font-weight: bold;
  }
  /******** Table Results Section Start *******/
  .schedule-p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 28px;
  }
  .all-cards {
    -ms-grid-columns: (minmax(90px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
  .td-content {
    font-size: 13px;
    -ms-grid-columns: 0fr 2fr 1fr 2fr 0fr 1fr;
        grid-template-columns: 0fr 2fr 1fr 2fr 0fr 1fr;
  }
  .halfTime-status span {
    font-size: 8px;
  }
  .td-date {
    font-size: 11px;
  }
  .scores .homeScore {
    font-size: 14px;
  }
  .scores .awayScore {
    font-size: 14px;
  }
  .half-time-res span {
    font-size: 12px;
  }
  /******** Table Results Section Start *******/
  .match-status {
    left: 130px !important;
    color: lime;
  }
  .champion-league-divs {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  /******** Best Players Section Start *******/
  .best-players {
    margin-top: 30px;
  }
  .best-players .text-players {
    font-size: 17px;
  }
  .best-players-content {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .ronaldo {
    width: 96%;
    margin: auto;
  }
  .ronaldo img {
    width: 212px;
  }
  .ronaldo .ronaldo-info span {
    color: #3f3e3e;
  }
  .ronaldo .ronaldo-info img {
    width: 20px !important;
  }
  .ronaldo div:nth-child(1) {
    font-size: 11px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .ronaldo div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 10;
    font-size: 12px;
    color: #5a5a5a;
  }
  .messi {
    width: 96%;
    margin: auto;
  }
  .messi img {
    width: 190px;
  }
  .messi .messi-info span {
    color: #3f3e3e;
  }
  .messi .messi-info img {
    width: 20px !important;
  }
  .messi div:nth-child(1) {
    font-size: 11px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 10;
  }
  .messi div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
    font-size: 12px;
    color: #5a5a5a;
  }
  .page-link {
    padding: 2px 6px 2px 6px !important;
    margin: 5px;
  }
  /******** Best Players Section End *******/
  /******** Footer Section Start *******/
  .footer-content {
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    text-align: center;
    padding: 50px 0 0 0;
    grid-row-gap: 50px;
  }
  .footer-content .footer-section-one {
    font-size: 15px;
  }
  .footer-content .footer-section-one p {
    font-weight: normal;
  }
  .footer-content .icon-footer {
    font-size: 22px;
  }
  .footer-content .icon-two {
    margin: 10px;
  }
  .footer-content .link-footer {
    font-weight: normal;
  }
  .footer-content .adress-footer span {
    font-weight: normal;
  }
  .footer-content .adress-footer p {
    margin-bottom: 5px;
  }
  .footer-content .input-footer {
    padding-bottom: 50px;
  }
  .footer-content .input-footer .form__field {
    text-align: center;
  }
  .footer-content .input-footer button {
    margin: auto;
    margin-top: 19px;
    font-weight: normal;
  }
  .footer-content .input-footer p {
    margin-bottom: 5px;
  }
  .footer-content .input-footer ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .footer-content .input-footer :-ms-input-placeholder {
    font-size: 14px;
  }
  .footer-content .input-footer ::-ms-input-placeholder {
    font-size: 14px;
  }
  .footer-content .input-footer ::placeholder {
    font-size: 14px;
  }
  .footer-end span {
    color: #33c24a;
  }
  /******** Footer Section End *******/
}
/*# sourceMappingURL=style.css.map */