*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.App{
    background-image: url('../img/cover1.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}


@import './variables';
@import './mixins';
@import '../components/logo/logo';
@import '../components/leagueLinks/leaguesLinks';
@import '../components/tableResults/tableResults';
@import '../pages/container/container';
@import '../components/calendar/calendar';
@import '../components/displayChampionsLeague/championsLeague';
@import '../components/displayOtherCompetitions/otherCompetitions';
@import '../components/displayScorersStandings/scorersStandings';
@import '../components/myCarousel/MyCarousel';
@import '../components/bestPlayers/bestPlayers';
@import '../components/footer/footer';
@import '../pages/head2head/head2head';
@import '../components/displayHead2Head/displayHead2Head';
// Responsive:
@import '../styles/responsiveDesigns/mobile';
@import '../styles/responsiveDesigns/tablet&laptop';