
@media only screen and (max-width: 620px){

    /******** Logo Section Start *******/
    .logo-content{
        h1{
            font-size: 36px;
            letter-spacing: normal;
        }
        span{
            font-size: 53px !important;
        }
        img{
            width: 36px;
        }
    }
    .logo-div{
        margin-bottom: 37px;
        p{
            font-size: 10px;
        }
    }
    .descriptions-p{
        text-align: center;
        font-size: 13px;
    }
    /******** Logo Section End *******/


    /******** Container Section Start *******/
    .container-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 97%;
    }
    .my-carousel{
        width: 100%;
        svg{
            display: none;
        }
        h3{
            font-size: 24px;
            background: none;
            color: $my-white !important;
        }
        .carousel-title{
            margin-bottom: 30px;
            h3{
                text-align: center;
            }
        }
    }
    .calendar-div{
        display: grid !important;
        justify-content: unset !important;
        .calendar{
            background: limegreen;
            padding: 0;
            input, rect, span ,svg{
                color: white !important;
                font-weight: bold;
            }
            border: none;
        }
        p{
            grid-row: 2/2;
            grid-column: 1/3;
            font-size: 10px;
            text-align: center;
            margin-bottom: 22px;
        }

        .calendar-content{
            grid-column: 1/3;
        }
    }
    /******** Container Section End *******/


    /******** Table Results Section Start *******/
    .schedule-p{
        font-size: 24px;
        text-align: center;
        margin-bottom: 28px;
        grid-column: 1/3;
        margin-bottom: 9px;
    }
    .all-cards{
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    }
    .match-link{
        font-size: 13px;
        grid-template-columns: 1fr 2fr 1fr 2fr 0fr 1fr;
    }
    .home-team-name{
        span{
            font-size: 10px;
        }
    }
    .away-team-name{
        span{
            font-size: 10px;
        }
    }
    .halfTime-status{
        span{
            font-size: 8px;
        }
    }
    .td-date{
        font-size: 9px;
    }
    .png-icon-results{
        width: 15px;
    }
    .scores{
        .homeScore{
            font-size: 12px;
        }
        .awayScore{
            font-size: 12px;
        }
    }
    .half-time-res{
        font-size: 10px;

        span{
            font-size: 10px;
        }
    }
    .no-matches{
        font-size: 10px;
    }
    /******** Table Results Section End *******/

    .match-status{
        left:130px !important; 
    }
    .champion-league-divs{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /******** Best Players Section Start *******/
    .best-players{
        margin-top: 30px;
        .text-players{
            font-size: 17px;
        }
    }
    .best-players-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .ronaldo{
        width: 96%;
        margin: auto;
        img{
            width: 212px;
        }
        .ronaldo-info{
            span{
                color: $my-black;
            }
            img{
                width: 20px !important;
            }
        }
        div:nth-child(1){
            font-size: 11px;
            order: 2;
            grid-column: 2/3;
            grid-row: 1;
        }
        div:nth-child(2){
            order: 1;
            grid-column: 1/3;
            grid-row: 1;
            z-index: 10;
            font-size: 12px;
            color: $my-silver;
        }
    }
    .messi{
        width: 96%;
        margin: auto;
        img{
            width: 190px;
        }
        .messi-info{
            span{
                color: $my-black;
            }
            img{
                width: 20px !important;
            }
        }
        div:nth-child(1){
            font-size: 11px;
            order: 1;
            grid-column: 1/3;
            grid-row: 1;
            z-index: 10;
        }
        div:nth-child(2){
            order: 2;
            grid-column: 1/2;
            grid-row: 1;
            font-size: 12px;
            color: $my-silver;
        }
    }
    .page-link{
        padding: 2px 6px 2px 6px !important;
        margin: 5px;
    }
    /******** Best Players Section End *******/


    /******** Footer Section Start *******/
    .footer-content{
        // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-template-columns: none;
        text-align: center;
        padding: 50px 0 0 0;
        grid-row-gap: 50px;
        .footer-section-one{
            font-size: 15px;
            p{
                font-weight: normal;
            }
        }
        .icon-footer{
            font-size: 22px;
        }
        .icon-two{
            margin: 10px;
        }
        .link-footer{
            font-weight: normal;
        }
        .adress-footer{
            span{
                font-weight: normal;
                text-align: start;
            }
            p{
                margin-bottom: 5px;
            }
        }
        .input-footer{
            padding-bottom: 50px;
            .form__field{
                text-align: center;
            }
            button{
                margin: auto;
                margin-top: 19px;
                font-weight: normal;
            }
            p{
                margin-bottom: 5px;
            }
            ::placeholder{
                font-size: 14px;
            }    
        }
    }
        .footer-end{
            span{
                color: #33c24a;
            }
        }
    /******** Footer Section End *******/

    /******** Other Leagues Section Start *******/
        .other-leagues-content{
            width: 97%;

            .other-leagues-divs{
                width: 96%;
                margin-bottom: 100px;

                .leagueName-icon{
                    img{
                        width: 120px !important;
                        filter: none;
                    }
                    p{
                        font-size: 18px;
                        margin-bottom: 13px;
                    }
                    span{
                        color: lightgreen;
                    }
                }
            }
            .image-position{
                h4{
                    font-size: 16px;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .team-name{
                .won, .draw, .lost{
                    font-size: 9px;
                }
                p{
                    font-size: 13px;
                    margin-bottom: 10px ;
                }
            }
            .points{
                p:nth-child(1){
                    font-size: 12px;
                    line-height: 1.4;
                    background: linear-gradient(45deg, #007bff, transparent);
                    color: black;
                    width: 18px;
                    height: 18px;
                }
                p:nth-child(2){
                    padding: 5px;
                    font-size: 17px;
                }
            }
            .scorers-icon{
                p{
                    font-size: 18px;
                    margin-bottom: 13px;
                }
            }
            .td-scorers{
                padding: 4px;
            }
            .tr-scorers:nth-child(1){
                color: white;
                font-weight: bold;
                 
                .goal-number{
                    width: 30px;
                    height: 30px;
                    font-size: 26px;
                    line-height: 0.7;
                }
                .td-scorers:nth-child(1){
                    padding: 10px;
                }
                .scorer-name{
                    font-size: 27px;
                    margin-bottom: 5px;
                }
                .scorer-team{
                    font-size: 20px;
                }
            }

            .scorer-name{
                margin-bottom: 3px;
                font-size: 13px;
            }
            .scorer-team{
                font-size: 11px;
                margin-bottom: 6px;
            }
            .goal-number{
                line-height: 1;
                font-size: 18px;
                width: 30px;
                height: 30px;
            }
            svg{
                font-size: 15px;
            }
            .numScores{
                margin-top: 0 !important;
            }
            .soccer-country{
                margin-bottom: 0;
                font-size: 12px;
            }
        }
    /******** Other Leagues Section End *******/


    /******** Champions League Section Start *******/
    .champion-league-divs{
        width: 100%;
    }
    .championsLeague-section{
        padding-top: 0;
        .championsLeague-icon{
            margin-bottom: 50px;
            img{
                width: 100px !important;
                filter: none;
            }
            span{
                font-size: 20px;
                color: lightgreen;
            }
        }
        .group-name{
            font-size: 18px;
        }
        
        .cl-content{
            padding: 4px;
            grid-template-columns: 1fr 5fr 2fr;
        }

        .cl-imgAndPostion{
            h4{
                font-size: 14px;
            }
            img{
                width: 25px;
                height: 25px;
            }
        }
        .cl-name{
            p{
                font-size: 13px;
            }
            .spans{
                margin-top: 5px;
                span{
                    padding: 0 5px 0 5px;
                    font-size: 9px;
                }
            }
        }
        .cl-points{
            p:nth-child(1){
                font-size: 11px;
                width: 20px;
                height: 20px;
                background: #17a2b8;
                line-height: 1.8;
                text-align: center;
                border-radius: 50%;
                color: white;
                font-weight: bold;
            }
            p:nth-child(2){
                font-size: 18px;
            }
        }
    }

    .scorers-standings{
        margin-top: 12px;
        margin-bottom: 100px;
    }

        .tr-scorers:nth-child(1){
            color: white;
            font-weight: bold;
             
            .goal-number{
                width: 30px;
                height: 30px;
                font-size: 26px;
                line-height: 0.7;
            }
            .td-scorers:nth-child(1){
                padding: 10px;
            }
            .scorer-name{
                font-size: 27px;
                margin-bottom: 5px;
            }
            .scorer-team{
                font-size: 20px;
            }
        }

        .scorer-name{
            margin-bottom: 3px;
            font-size: 13px;
        }
        .scorer-team{
            font-size: 11px;
            margin-bottom: 6px;
        }
        .goal-number{
            line-height: 1;
            font-size: 18px;
            width: 30px;
            height: 30px;
        }
        svg{
            font-size: 15px;
        }
        .numScores{
            margin-top: 0 !important;
        }
        .soccer-country{
            margin-bottom: 0;
            font-size: 12px;
        }
        
        .competitionName{
            font-size: 16px;
        }
        .top-scorers{
            font-size: 13px;
            color: lightgreen !important;
        }

    /******** Champions League Section End *******/


    /******** Head 2 Head Section Start *******/
    .match-facts{
        font-size: 20px;
    }
        .teams-name{
            width: 90%;
            margin-bottom: 10px;
            p{
                font-size: 10px;
                // font-weight: normal;
                border: none !important;
                background: linear-gradient(180deg, #dc3545, transparent);
                padding: 1px 0 1px 0;
            }
        }

        .home, .away{
            font-size: 30px !important;
            width: 35px !important;
            height: 35px !important;
        }
        .home{
            left: 90px !important;
        }
        .away{
            right: 90px !important;
        }
        .match-status{
            font-size: 10px !important;
            padding: 0 6px 0 6px !important;
            left: 161px !important;

        }
        .head2head-content{
            margin-bottom: 172px;
        }
        .head2head{
            width: 97%;
            padding: 20px 0 20px 0;
            margin-top: 17px;

            h2{
                font-size: 20px;
            }
            .stadium-name{
                font-size: 12px;
                font-weight: normal;
            }
            .halfTime{
                font-size: 20px !important;
            }

            .numOfMatches{
                span{
                    font-size: 25px;
                }
            }
            .wins, .draws, .losses{
                font-size: 25px;
            }
            .total-goals{
                span{
                    font-size: 25px;
                }
            }
            .referees{
                span{
                    font-weight: normal;
                }
            }
        }
    /******** Head 2 Head Section End *******/


}

