
.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    font-family: $sarabun-font;
    grid-row-gap: 60px;
    font-family: $sarabun-font;
    padding: 70px;

    p{
        color: $my-white !important;
    }
}

.footer{
    background: #270c39;
}
.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color: white;
        font-family: 'Barrio', cursive;
        font-size: 30px;

    }
    span{
        color: #33c24a;
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 43px;
    }
    img{
        width: 40px;
    }
}
.links-footer{
    display: grid;
    margin: 0 auto;

    .link-footer{
        color: $my-white !important;
        font-weight: bold;

        &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}
.adress-footer{
    display: grid;
    margin: 0 auto;
    span{
        color:$my-white;
        font-weight: bold;
    }
    p{
        color: whitesmoke !important;
        font-weight: bold;
        font-size: 18px;
    }
}
.icon-footer{
    margin-left: 0;
}
.input-footer{
    display: grid;
    margin: 0 auto;
    p{
        color: white !important;
        font-weight: bold;
        font-size: 18px;
    }
    button{
        font-family: $sarabun-font;
        width: 110px;
        height: 30px;
        color: $my-white;
        border-radius: 11px;
        background: transparent;
        border: 1px solid white;
        font-weight: bold;
        &:hover{
            background: #33c24a;
            font-weight: bold;
        }
    }
    input{
        width: 260px;
    }
}
.link-football-data{
    &:hover{
        text-decoration: none;
    }
}

.footer-end{
    background: #3c1b52de;
    padding: 10px;
    p{
        margin-bottom: 0;
        text-align: center;
        color: $my-white;
    }
}

.icon-two{
    margin: 17px;
}
.football-data{
    font-weight: bold;
    font-size: 20px;
    color: darkkhaki;
}

.footer-section-one{
    text-align: center;
    p{
        font-weight: bold;
    }
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}