/******** Champions League Start *********/
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

.championsLeague-section{
     padding-top: 32px;
     padding-bottom: 45px;
}
.champion-league-content{
    width: 90%;
    margin: auto;
    min-height: 120vh;
}
.champions-league{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    column-gap: 10px;
}
.group-name{
    color: $my-white;
    text-align: center;
    font-family: 'Concert One', cursive;
    text-decoration: underline;
}
.table{
    margin-bottom: 0 !important;
}
.cl-content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}
.cl-imgAndPostion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    h4{
        margin-bottom: 0;
        font-size: 20px;
        font-family: $sarabun-font;
        color: $my-silver;
        margin-right: 10px;
    }
    img{
        width: 30px;
        height: 30px;
        background-size: cover;

    }
}
    .cl-name{
        margin-left: 10px;
        font-family: $sarabun-font;
        
        p{
            margin-bottom: 0 !important;
            color: $my-silver;
            font-weight: bold;
        }
        .cl-won{
            @include info-span(#4caf50ad);
            color: black;
        }
        .cl-draw{
            @include info-span(rgb(241, 212, 78));
            margin: 5px;
            color: black;
        }
        .cl-lost{
            @include info-span(lightsalmon);
            color: black;
        }
    }
.spans{
    margin-top: 10px;
}
    .cl-points{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        p:nth-child(2){
            margin-bottom: 0;
            font-weight: 600;
            font-size: 23px;
            box-shadow: $shadow-points;
            color: $my-black;
            font-family: $sarabun-font;
            text-align: center;
        }
        p:nth-child(1){
            margin-bottom: 0 !important;
            color: $my-silver;
            font-family: $sarabun-font;
            width: 20px;
            height: 20px;
            background: #17a2b8;
            line-height: 1.2;
            text-align: center;
            border-radius: 50%;
            color: white;
            font-weight: bold;
        }
    }
/******** Champions League Start *********/

.champion-league-divs{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-column-gap: 100px;
}
.css-t2rmvs{
    text-align: center;
}

.championsLeague-icon{
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    p{
        color: $my-white;
        margin-bottom: 0;
        font-size: 31px;
    }
    img{
        margin: auto;
        margin-bottom: 13px;
        width: 115px !important;
    }
    span{
        font-family: 'Patrick Hand', cursive;
        font-weight: bold;
        letter-spacing: 4px;
        color: lightgreen;
        border: 1px solid white;
        padding: 0 5px 0 5px;
        font-size: 31px;
    }
}